extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  a.buttonfile(id='btn1', style='background-color:#f14e4e') Task 1
  a.buttonfile(id='btn2', style='background-color:#f14e4e') Task 2
  a.buttonfile(id='btn3', style='background-color:#f14e4e') Task 3

  div#editor


