extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  a.buttonfile(id='btn1', style='background-color:#7E8BC6') Task 1
  a.buttonfile(id='btn2', style='background-color:#7E8BC6') Task 2
  a.buttonfile(id='btn3', style='background-color:#7E8BC6') Task 3

  div#editor

  //- br
  //- a.buttonfile(id='test', style='background-color:#B6530A') Run
