extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- a.buttonfile(id='btn1', style='background-color:#7E8BC6') Task 1
  //- a.buttonfile(id='btn2', style='background-color:#7E8BC6') Task 2
  
  div#editor

  br
  a.buttonfile(id='prompt1', style='background-color:#B6530A') Sorry, didn't get that!
  a.buttonfile(id='prompt2', style='background-color:#B6530A') Sorry, could you repeat that again?
  a.buttonfile(id='prompt3', style='background-color:#B6530A') Couldn't find a match for the word you mentioned!
  a.buttonfile(id='prompt4', style='background-color:#B6530A') Please wait, I'm still working on it!
  a.buttonfile(id='sendbtn', style='background-color:#0452E3') Send to Participant

  input#switch(type='checkbox')
  label(for='switch')

  br
  div#transcript