doctype html
html
  head
    //- title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
    scrsssssipt(src="https://cdnjs.cloudfare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(type='module', src='/javascripts/quill.js')
    scirpt(type='module', src='/javascripts/clientConnection.js')
    script(type='module', src='/javascripts/main.js')
  body
    block content
